@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* Start Global Rules */
:root {
  --main-color: #29b6ab;
  --main-color-alt: #009688;
  --text-color: #011626;
  --transition: ease 0.4s all;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 1px 15px 0 rgb(0 0 0 / 37%);
  z-index: 999;
}
header .app {
  background-color: #29b6ab;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .app div {
  display: flex;
}
header .app div p {
  margin: 0 10px;
}
header .app a {
  font-size: 14px;
  color: #fff;
}
header .app a:last-child {
  display: flex;
  align-items: center;
}
header .app a i {
  margin-left: 5px;
}
header .app a img {
  width: 70px;
  height: 30px;
  margin-right: 5px;
}
header nav {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 99;
}
.icon-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-user li {
  display: flex;
  align-items: center;
}
.icon-user li {
  color: var(--main-color);
  font-size: 17px;
  font-weight: 500;
}
.icon-user li a i {
  color: rgb(1 22 38 / 50%);
  font-size: 27px;
  padding: 10px;
  transition: var(--transition);
}
.icon-user li a i:hover {
  color: var(--main-color);
}
.icon {
  color: #29b6ab;
  letter-spacing: 1px;
  margin: 10px;
}
.icon-user li form {
  font-size: calc(12px + 4 * ((100vw - 992px) / 928));
  position: relative;
  width: 100%;
  padding-top: 5px;
}
.ul-peranr-and-user-welcome .form_2 {
  font-size: calc(12px + 4 * ((100vw - 992px) / 928));
  position: relative;
  width: 100%;
  display: none;
}
.ul-peranr-and-user-welcome .form_2 input {
  background-color: #eff0f4;
  color: #aaa;
  height: 3.4444444444em;
  border-radius: 10px;
  border: none;
  width: 80%;
  padding: 0 1.3888888889em 0 3.3333333333em;
  font-size: 1.125em;
  text-align: end;
  outline: none;
}
.ul-peranr-and-user-welcome .form_2 button {
  background-color: #29b6ab;
  height: 70%;
  aspect-ratio: 1;
  position: absolute;
  left: 10px;
  top: 15%;
  border: none;
  border-radius: 5px;
  padding: 0.5555555556em;
}
.ul-peranr-and-user-welcome .form_2 button i {
  font-size: 22px;
  color: #fff;
}
.icon-user li form input {
  background-color: #eff0f4;
  color: #aaa;
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 400px;
  padding: 0 1.3888888889em 0 3.3333333333em;
  font-size: 1.125em;
  text-align: end;
  outline: none;
}
.icon-user li form button {
  background-color: #29b6ab;
  height: 65%;
  aspect-ratio: 1;
  position: absolute;
  left: 10px;
  top: 22%;
  border: none;
  border-radius: 5px;
  padding: 0.5555555556em;
}
.icon-user li form button i {
  font-size: 15px;
  color: #fff;
}
button.user-account {
  padding: 8px 16px 0;
  border-radius: 10px;
  display: flex;
  width: max-content;
  height: 40px;
  align-items: center;
  background-color: #f8f8fa;
  border: none;
  cursor: pointer;
}
.user-account span {
  display: flex;
  font-size: 16px;
  color: #9e9e9e;
}
.user-account span p {
  margin: 0 6px 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #0b1725;
  display: flex;
}
.user-dropdown-btn[_ngcontent-fdf-c76]
  .mat-button-wrapper
  .user-welcome-text
  bdi {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px;
  display: block;
}

/* start Sidebar */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  display: none;
}
.sidebar-2.active {
  display: block;
}
.sidebar-2 {
  position: absolute;
  top: 150px;
  left: 0px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 230px;
  border: 1px solid #ddd;
  border-top: none;
  height: 270px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 99;
  display: none;
}
.sidebar-2 li {
  display: block;
}
.sidebar-2 li a i {
  margin-right: 10px;
}
.sidebar-2 li a {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px 10px 0px;
  background-color: transparent;
  border-top: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.sidebar-2 li a p {
  font-weight: 700;
  color: #aaa;
  font-size: 18px;
  margin: auto;
  transition: var(--transition);
  letter-spacing: 1px;
}
.sidebar-2 li a i {
  font-size: 25px;
  padding: 5px;
  color: #5f5f5f;
  transition: var(--transition);
}
.sidebar-2 li:hover a p,
.sidebar-2 li:hover a i {
  color: var(--main-color);
}
.sidebar-2 li:nth-of-type(1) a {
  border: none;
}
.swiper-button-next,
.swiper-button-prev {
  /* border-radius: 50%;
  background-color: var(--main-color);
  width: 50px;
  height: 50px; */
}
/* End Sidebar */
.ul-peranr-and-user-welcome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
}
header nav .ul-perant {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .ul-perant li {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
}
header nav .ul-perant li a {
  font-size: 20px;
  color: #333;
}
header nav .ul-perant li a i {
  color: var(--main-color);
  margin-left: 5px;
}
header nav .ul-perant #first {
  background-color: var(--main-color);
  transition: var(--transition);
}
header nav .ul-perant li:hover {
  background-color: rgb(0 150 136 / 30%);
}
header nav .ul-perant #first:hover {
  background-color: var(--main-color-alt);
}
header nav .ul-perant #first,
header nav .ul-perant #first i {
  color: #fff;
  margin-left: 5px;
}
/* End Header */

/* Start Sections */
section {
  display: block;
  position: relative;
  padding-top: 50px;
}
section.man,
section.six,
section.navigation-swiper {
  padding-top: 180px;
}
/* End Sections */

/* Start Sections Man */
section.man .navigations ul {
  display: flex;
  justify-content: end;
}
section.man .navigations ul li {
  padding: 10px 5px;
}
.navigations ul li a {
  color: #0b1725;
  font-weight: bold;
}
.navigations ul li .hover {
  color: rgb(11 23 37 / 50%);
}
.page-tite {
  text-align: end;
  margin: 5px 0 30px;
  font-size: 20px;
}
.man .categories-sidebar {
  padding: 20px 0;
  border-radius: 10px;
  border: solid 1px #ddd;
  margin-left: 30px;
  width: 100%;
  text-align: center;
  height: 250px;
  margin-bottom: 20px;
}
.man .categories-sidebar p {
  font-size: 22px;
  font-weight: 800;
  color: #0b1725;
  margin-bottom: 20px;
}

.level-container {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 0;
  justify-content: flex-end;
}
.level-container i {
  font-size: 14px;
  margin-left: 7px;
  color: #000;
}
.level-container a {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #0b1725;
}
.level-container a:hover {
  opacity: 0.7;
}
.content-cards-perant {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
span.selected-items-per-page {
  margin-left: 15px;
}

span.items-text {
  margin: 24px 10px 11px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: right;
  color: #aaa;
}
button.btn-primary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  color: #0b1725;
  outline: none;
  width: 150px;
  height: 45px;
  padding: 12px 0 10px;
  border-radius: 10px;
  border: solid 1px #ddd;
  background-color: var(--white);
  margin-top: 12px;
  cursor: pointer;
}
.button-permery .dropdown-menu_2,
.button-permery .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: unset;
  width: 150px;
  border-top: none;
  margin-top: 0;
  border-radius: 0 0 4px 4px;
  text-align: right;
}
.button-permery .dropdown-menu_2.show,
.button-permery .dropdown-menu.show {
  display: block;
}
.button-permery .dropdown-menu_2 li a,
.button-permery .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}
.card-4 {
  width: 75%;
}
.card-6 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.heading-number-title {
  height: 20px;
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: right;
  color: #0b1725;
  margin-top: 20px;
}
.heading-number-title span {
  height: 25px;
  margin: 0 4px 0 0;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: right;
  color: #aaa;
}
.button-permery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.button-permery_3 {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
ul.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
  direction: ltr;
  padding-top: 20px;
}
a.page-link {
  color: #aaa;
  border: solid 1px #ddd;
  border-radius: 10px;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: -1px;
  line-height: 1.25;
  cursor: pointer;
  transition: var(--transition);
}
a.page-link:hover {
  background-color: #ddd;
}
a.page-link.active {
  color: #fff;
  background-color: #29b6ab;
  border: solid 1px var(--light-blue-color);
  border-radius: 10px;
  pointer-events: none;
}
/* End Sections Man */

/* Start Sections Six */
.page-tite-2 {
  text-align: end;
  margin: 0;
  font-size: 30px;
}
.page-tite-primary {
  text-align: center;
  font-size: 18px;
  color: #aaa;
}
.page-tite-secondary {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #0b1725;
}
.content.section {
  display: flex;
  flex-wrap: wrap;
}
.content.section .swiper-slide {
  width: 280px;
}
section.complaint-form {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.complaint-form form {
  max-width: 600px;
  margin: 0 auto;
}
form .form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  padding-bottom: 10px;
}
label {
  font-size: 21px;
  text-align: right;
  color: #0b1725;
}
select {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: solid 1px #ddd;
  outline: none;
  color: #0b1725;
  text-align: end;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
option {
  font-size: 14px;
  color: #0b1725;
  height: 20px;
}
textarea {
  min-height: 150px;
  width: 100%;
  outline: none;
  border: solid 1px #ddd;
  padding: 10px;
  font-size: 16px;
  color: #0b1725;
  border-radius: 5px;
  overflow: auto;
  resize: vertical;
}
.btn-send {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-send button {
  opacity: 1;
  cursor: pointer;
  width: 140px;
  padding: 10px 0;
  border: 0;
  border-radius: 20px;
  background-color: #29b6ab;
  margin: 0 5px;
  color: #fff;
  transition: var(--transition);
}
.btn-send button:hover {
  opacity: 0.7;
}
/* End Sections Six */

/* Start Section product-preview */
section.product-preview {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
section.product-preview .product-gallery {
  width: 45%;
  position: relative;
}
section.product-preview .product-text {
  display: flex;
  height: 370px;
  margin-top: 10px;
  margin-right: 30px;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}
.product-basic-info {
  text-align: end;
}
p.product-name {
  font-size: 20px;
  font-weight: 700;
  color: #0b1725;
}
p.product-id {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
}
p.product-id span {
  font-size: 16px;
  color: #0b1725;
}
.profit-info-section {
  display: flex;
  align-items: center;
  justify-content: end;
}
p.product-price {
  margin-left: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #ffae0c;
  text-align: right;
}
p.profit-text {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
  text-align: right;
}
p.product-profit {
  margin-left: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #29b6ab;
  text-align: right;
}
p.currency {
  font-size: 14px;
  font-weight: 400;
  color: #0b1725;
  text-align: right;
  margin-left: 10px;
}
.hr {
  margin: 10px 0;
  padding: 0;
  opacity: 1;
  border-top: 1px solid #eff0f4;
}
.size-variants p {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  margin-left: 10px;
  flex-shrink: 0;
}
.size-variants button {
  min-width: 30px;
  height: 34px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.size-variants button:hover {
  border: 1px solid #29b6ab;
}
span.product-availability-text {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 500;
}
.product-ordering-actions {
  display: flex;
  justify-content: end;
}
.number-of-items-container {
  display: flex;
  align-items: center;
}
.btn-counter {
  width: 120px;
  height: 42px;
  display: flex;
  margin-left: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ddd;
}
.items-count-change-button {
  margin: 0;
  border: none;
  padding: 0 3px;
  font-size: 22px;
  font-weight: 800;
  color: #29b6ab;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}
.items-count-change-button:hover {
  color: var(--main-color-alt);
}
.action-button {
  margin: 0;
  margin-right: 10px;
  border: 0;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--transition);
}
.action-button:hover {
  opacity: 0.7;
}
.order-add-button {
  background-color: #29b6ab;
  width: 150px;
}
.order-now-button {
  background-color: #0b1725;
  width: 100px;
}

.action-button i {
  margin-left: 5px;
  font-size: 15px;
  color: #fff;
}
.favorite-and-share-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-catalog-button {
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #0b1725;
  background-color: transparent;
  transition: var(--transition);
}
.add-to-catalog-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.add-to-catalog-button i {
  margin-left: 3px;
  color: #900;
}
.social-sharing-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-button {
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: var(--transition);
}
.share-button:hover {
  opacity: 0.7;
}
.facebook-button {
  color: #298cb6;
  background-color: #eef6f9;
}
.whatsapp-button {
  color: #3ba34e;
  background-color: #eff8f1;
}
.download-button {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #29b6ab;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.product-additional-info {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  padding-top: 20px;
}
.additionalInfoContainer {
  direction: rtl;
  text-align: right;
  width: 100%;
  padding: 30px 0;
  margin: 20px 0px -20px;
}

.additionalInfoContainer,
.tabGroup__additionalInfo,
.tabItem--selected {
  border-bottom: 4px solid #29b6ab;
  border-radius: 4px;
}
.additionalInfoContainer .tabGroup__additionalInfo {
  height: 50px;
  background-color: #eff0f4;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
}

.additionalInfoContainer,
.tabGroup__additionalInfo,
.tabItem {
  background: none;
  border: none;
  height: 96%;
  padding: 0 10px;
  cursor: pointer;
  font-size: 17px;
  outline: none;
}

.displayedAdditionalInfoContainer {
  font-size: 0.9rem;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.displayedAdditionalInfoContainer .productDescription-2 {
  display: none;
}
.displayedAdditionalInfoContainer .productDescription-2.active {
  display: block;
}
.displayedAdditionalInfoContainer .productDescription {
  display: none;
}
.displayedAdditionalInfoContainer .productDescription.active {
  display: block;
}
.product-actions {
  text-align: end;
}
.tab__productDescription.active {
  border-bottom: 4px solid #29b6ab;
  border-radius: 4px;
}
.tab__productSpecifications.active {
  border-bottom: 4px solid #29b6ab;
  border-radius: 4px;
}
.size-variants {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
}
.colors {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
}
.colors p {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  margin-left: 10px;
  flex-shrink: 0;
}
.colors button {
  min-width: 30px;
  height: 34px;
  padding: 4px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.colors button:hover {
  border: 2px solid #29b6ab;
}
@media (max-width: 767px) {
  section.product-preview {
    flex-direction: column;
    padding-top: 80px;
  }
  section.product-preview .product-gallery {
    width: 100%;
    margin-bottom: 80px;
  }
  section.product-preview .product-text {
    width: 100%;
  }
  .additionalInfoContainer {
    margin: -30px 0px -20px;
  }
  .product-ordering-actions {
    flex-direction: column;
  }
  .number-of-items-container {
    justify-content: end;
  }
  .share-button {
    padding: 0 10px;
    font-size: 13px;
    margin-right: 8px;
  }
  .download-button {
    margin-top: 10px;
  }
  .share-text {
    font-size: 14px;
  }
  .add-to-catalog-button {
    font-size: 12px;
  }
  .social-sharing-buttons {
    margin-bottom: 40px;
  }
  .tabItem {
    font-size: 16px;
    padding: 0 7px;
  }
  .displayedAdditionalInfoContainer {
    padding: 20px;
  }
}
/* End Section product-preview */

/* Start Swiper Navigation */
.slider {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation-manual {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 15px;
}

.manual-btn:hover {
  background-color: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
/* css for automatic navigation */

.navigation-auto {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.navigation-auto div {
  border: 2px solid var(--main-color);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 15px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

/* Start angle */
.slider i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  background-color: #1a68a7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;
}
.change_background_left {
  left: 30px;
}
.change_background_right {
  right: 30px;
}
/* End angle */
/* End Swiper Navigation */

/* Start Global swiper product */
.swiper {
  width: 1100px;
}
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 20px;
}
.category {
  color: #0b1725;
  font-size: 21px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: right;
}
.view-all {
  color: #29b6ab;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  margin-top: 3px;
  text-align: left;
  cursor: pointer;
}
.card-content {
  border: solid 1px #ddd;
  border-radius: 10px;
  direction: ltr;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  width: 240px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
}
.man .content-cards-perant .card-content {
  margin-left: 0;
}
.card-content .img {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
}
.card-content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info {
  color: #0b1725;
  text-align: center;
}
.product-title {
  margin: 4px 10px 10px;
  color: #0b1725;
  direction: rtl;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.44;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-price {
  display: flex;
  justify-content: space-between;
}
.product-profit div {
  font-size: 20px;
  font-weight: 800;
  color: #29b6ab;
  text-align: right;
}
.product-profit div span {
  color: #0b1725;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: right;
  margin-left: 7px;
}
.data-price {
  display: flex;
}
.price-text {
  color: #0b1725;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.48;
  letter-spacing: normal;
  text-align: center;
  margin-right: 10px;
}
.only-price {
  color: #0b1725;
  font-size: 26px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: right;
}
.btn {
  opacity: 1;
  background-color: #29b6ab;
  border-radius: 30px;
  border-color: transparent;
  height: 45px;
  margin: 12px 0;
  padding: 8px 0px;
  width: 170px;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.7;
}
.btn span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  width: 122px;
}
.btn i {
  color: #fff;
  font-size: 18px;
  margin-left: 7px;
}
.product-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-add #hert {
  opacity: 0.7;
  color: #aaa;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.product-add #hert:hover {
  opacity: 0.5;
}
.color-btn {
  color: red !important;
  font-size: 100px;
}
/* .swiper-button-next {
  right: 90px!important;
}
.swiper-button-prev {
  left: 90px!important;
} */
/* End Global swiper product */

/* Start Footer */
footer {
  /* min-height: 100vh; */
  height: auto;
  background: #08111c;
  padding: 10px 0 0;
  color: #b0b0b0;
  line-height: 1.8;
  text-align: right;
  margin-top: 50px;
}
footer .container .content {
  display: flex;
  flex-direction: column;
}
footer .container .content .text {
  text-align: -webkit-right;
}
footer .container .content .text p {
  max-width: 70%;
}
footer .container .content .social-box .contact h3 {
  margin: 20px 0 0;
}
footer .container .content .social-box ul {
  display: flex;
  justify-content: end;
}
footer .container .content .social-box ul li {
  margin-right: 10px;
}

footer .container .content .social-box ul li a img {
  width: 46px;
  height: 46px;
  object-fit: cover;
}
footer .container .content .social-box .contact {
  font-size: 18px;
}
footer .container .content .social-box .contact span a {
  color: #b0b0b0;
  letter-spacing: 1px;
}
footer .container .copyrigth {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}
footer .container .copyrigth a {
  color: #b0b0b0;
}
/* End Footer */

/* Start login Page */
.perant {
  padding: 0;
}
.perant .header {
  text-align: end;
}
.login .bg {
  padding-top: 2rem;
  width: 100%;
  min-height: 100%;
  background-color: #0b1725;
}
.bg .custom {
  width: 50%;
  margin-top: 34px;
  padding-bottom: 34px;
}
.custom .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.custom .content .log-title {
  width: 100%;
  height: 60px;
  font-size: 32px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.custom .content .sub-title {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.custom .content .btn-google {
  width: 230px;
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  padding: 3px 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px #00000080;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #0b1725;
  cursor: pointer;
}
.custom .content .btn-google img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: -10px;
}
.custom .content .card-main {
  width: 80%;
  margin-top: 1%;
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000080;
  background-color: #fff;
  min-height: 350px;
  padding: 2.8rem;
}
.card-content-2 {
  text-align: right;
}
.card-content-2 form .form-group label {
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0b1725;
}
.form-group .form-control {
  border-radius: 3px;
  border: solid 1px #aaa;
  text-align: right;
  outline: none;
}
.card-content-2 form .btn-register {
  cursor: pointer;
  width: 60%;
  height: 47px;
  margin-right: 20%;
  border-radius: 25px;
  background-color: #29b6ab;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  border: none;
}
.foot-div {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.foot-div .foot-label {
  padding-top: 5px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0b1725;
}
.foot-div .foot-label-2 {
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #29b6ab;
  cursor: pointer;
}
.foot-div-1 {
  display: flex;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.foot-div-1 .foot-label-3 {
  width: 100%;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding-left: 10px;
}
.foot-div-1 .foot-label-4 {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
}
/* End login Page */

/* Start Person Page */
section.person {
  padding-top: 120px;
}
.person .content {
  display: flex;
  justify-content: center;
}
.person .content-2 {
  text-align: -webkit-center;
}

.person .content .sidebar {
  margin: 4.375em 2.5em 0;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 230px;
  border-radius: 1.25em;
  border: 1px solid #ddd;
  height: 280px;
}
.sidebar .sidebar-button {
  border: none;
  margin: 10px 10px 0px;
  background-color: transparent;
  border-top: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.sidebar .sidebar-button a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidebar .sidebar-button:hover .sidebar-text,
.sidebar .sidebar-button:hover i {
  color: var(--main-color);
}
.sidebar .sidebar-button i {
  font-size: 25px;
  padding: 5px;
  color: var(--main-color);
  transition: var(--transition);
}
.sidebar .sidebar-button .sidebar-text {
  font-weight: 700;
  color: #aaa;
  font-size: 17px;
  transition: var(--transition);
  margin: 10px 20px;
}

.order-number {
  padding-bottom: 20px;
}

.person .content .person-page {
  margin: 4.375em 2.5em;
  width: 98.125em;
  /* overflow-x: hidden; */
  text-align: -webkit-right;
}
.order-filters-page {
  border: 1px solid #ddd;
  padding: 20px;
  width: 650px;
  height: 150px;
  text-align: end;
  border-radius: 5px;
}
.order-filters-search {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
select.order-info {
  width: 18%;
  cursor: pointer;
}
.person-page h2 {
  text-align: end;
  font-size: 30px;
}
.mat-form-field-wrapper {
  height: 35px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #aaa;
  width: 48%;
  padding: 0px 10px;
}
.mat-form-field-wrapper i {
  font-size: 15px;
}
.mat-form-field-wrapper input {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  text-align: end;
}
select.order-info {
  height: 35px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #aaa;
  padding: 0px 10px;
  width: 120px;
  cursor: pointer;
  font-size: 18px;
}
.order-filters-search_3 button {
  margin-bottom: 15px;
  padding: 0px 10px;
  color: #fff;
  background-color: #29b6ab;
  border: 1px solid #29b6ab;
  width: 70px;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  transition: var(--transition);
}
.order-filters-search_3 button:hover {
  opacity: 0.7;
}
.person-order-info {
  width: 650px;
  height: auto;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  font-size: 18px;
  border-radius: 10px;
}
.person-order-info span {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.order-total-info {
  display: flex;
  flex-direction: row-reverse;
}
.order-history {
  margin-left: 10px;
}
.order-praice {
  margin-left: 10px;
}
.order-total-info {
  display: flex;
  padding-bottom: 10px;
}
.order-action ul {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0;
}
.order-action ul li {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--main-color);
  color: #fff;
}
.order-action ul li:last-child {
  background-color: #0b1725;
  width: 100px;
}
.order-action ul li:last-child a {
  font-size: 15px;
  color: #fff;
}
.order-action ul li a {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
.order-action ul li i {
  margin: 0 5px;
  color: #fff;
}

.person-info-data {
  width: 650px;
  height: 280px;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
}
.personal-data {
  display: flex;
  flex-direction: row-reverse;
  font-size: 18px;
}
.personal-data span {
  font-weight: bold;
}

.person-name {
  margin: 0 5px;
}
.product-info-name {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  width: 100%;
}
.product-info-name .img {
  width: 200px;
  height: 200px;
}
.product-info-name .img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.product-info-name .product-name,
.product-info-name .product-count,
.product-info-name .product-price-text {
  margin: 10px;
}
.person-info-data.active {
  display: block;
  transition: all 2s ease;
}

.order-filters-search_2 {
  display: flex;
  justify-content: space-between;
}
.order-filters-search_3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.select-info-order-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.select-info-order-check.color {
  color: red;
  outline: solid;
  border-radius: 50%;
  height: 17px;
}
.select-info-order-check.color:first-child {
  color: green;
}
.select-info-order {
  display: flex;
  padding: 15px 0;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.select-info-order label {
  font-size: 16px;
  color: #0b1725;
}

input[type="radio"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.products-tpgar {
  padding: 20px 0;
  border-radius: 10px;
  /* border: solid 1px #ddd; */
  margin-left: 30px;
  width: 100%;
  text-align: center;
  height: 250px;
}
.products-tpgar .mini-products-header {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
}
.products-tpgar a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.products-tpgar a img {
  width: 70px;
  height: 80px;
  border-radius: 10px;
  margin-left: 5px;
}
.products-tpgar a .togaar-text {
  text-align: end;
}
.products-tpgar a .togaar-text h3 {
  font-size: 16px;
  color: var(--text-color);
}
.products-tpgar a .togaar-text p {
  color: var(--text-color);
}
.products-tpgar a .togaar-text p span {
  font-weight: bold;
  font-size: 18px;
}
.products-tpgar a .togaar-text p span:last-child {
  color: var(--main-color);
}
.card-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 20%;
}
/* End Person Page */

/* Start Catalog Page */
section.catalog {
  padding-top: 150px;
}
.catalog-perant {
  min-height: 85vh;
  overflow-x: hidden;
}
.title-catalog-page {
  background-color: #fff;
  padding: 40px 20px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.48;
  color: #0b1725;
}
.title-catalog-page span {
  color: #29b6ab;
  margin-right: 10px;
}
.catalog-section {
  background-color: #fff;
  padding: 40px 20px 20px;
  border-radius: 20px;
  border: 1px solid #eff0f4;
}
.catalog-section-header {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.catalog-section-header .text {
  display: flex;
  align-items: center;
}
.catalog-section-header .select-all {
  display: flex;
  align-items: center;
}
.catalog-section-header .select-all label {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39;
  color: #29b6ab;
  margin: 0 10px;
  cursor: pointer;
  opacity: 1;
}
.catalog-section-header .select-all label:hover {
  opacity: 0.7;
}
input[type="checkbox"] {
  display: inline-block;
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  left: auto;
  right: 0;
  height: 25px;
  width: 25px;
}
button.remove-select {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  margin-left: 10px;
  color: #ff4966;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button.remove-select:hover {
  opacity: 0.7;
}
table {
  border-collapse: separate;
  border-spacing: 0px 17px;
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
th {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39;
  color: #aaa;
  border-bottom: 1px;
  border-color: #eff0f4;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
td {
  vertical-align: middle;
  border-color: #eff0f4;
  padding: 14px 8px;
  border-top: 1px solid #dee2e6;
  text-align: -webkit-right;
}
.product-actions-catalog {
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}
.product-actions-catalog button {
  width: 24px;
  height: 30px;
  margin: 0;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  color: #ff4966;
  font-family: sans-serif;
  transition: var(--transition);
  cursor: pointer;
}
.product-actions-catalog button:hover {
  opacity: 0.7;
}
.img-and-name-catalog {
  display: flex;
  align-items: center;
  justify-content: end;
}
.img-and-name-catalog img {
  cursor: pointer;
  opacity: 1;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 3px;
}
.name-and-category {
  max-width: 205px;
}
.name-and-category p {
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  color: #0b1725;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  letter-spacing: normal;
  text-align: right;
}
p.product-original-price {
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
}
.name-and-category span {
  color: #e39700;
  font-weight: 700;
}
p.product-variants {
  display: flex;
  font-size: 14px;
}
span.size-variant {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #333;
}
.catalog-price-product {
  display: flex;
  align-items: center;
  justify-content: end;
}
p.product-price-p {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: #0b1725;
  width: 70px;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  font-family: sans-serif;
  text-align: center;
}
.catalog-price-product button {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 9px 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #29b6ab;
  border: 1px solid #29b6ab;
  color: #fff;
  display: flex;
  align-items: center;
  display: none;
}
.catalog-price-product button i {
  margin: 0 auto;
  font-size: 16px;
}
p.product-profit-p {
  display: block;
  width: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  font-family: sans-serif;
  color: #29b6ab;
  text-align: center;
}
.p-catalog-avil {
  color: rgb(61, 187, 84);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.add-to-car-catalog {
  display: flex;
  flex-direction: column;
}
.add-to-car-catalog button {
  cursor: pointer;
  opacity: 1;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
  width: 200px;
  transition: var(--transition);
}
.add-to-car-catalog button:hover {
  opacity: 0.7;
}
.add-to-car-catalog button:first-child {
  background-color: #29b6ab;
  border: 1px solid #29b6ab;
  color: #fff;
}
.add-to-car-catalog button:last-child {
  margin-top: 10px;
  background-color: #0b1725;
  border: 1px solid #0b1725;
  color: #fff;
}

input.number-counter {
  width: 48px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  appearance: none;
  color: var(--main-color);
}

/* data-order-side */
section.cart {
  padding-top: 130px;
}
.data-order-side {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding-bottom: 10px;
  margin-right: 20px;
}
.cart-and-side-order {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.your-cart {
  width: 100%;
  margin-bottom: 25px;
  height: 100%;
  padding: 25px 20px;
  background-color: #29b6ab;
  border-radius: 20px 20px 0 0;
}
.your-cart p {
  width: 100%;
  height: 31px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 0;
}
p.cart-text {
  color: #0b1725;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: right;
}
span.price {
  font-size: 20px;
  font-weight: 700;
}
span.profit.profit-text {
  font-size: 20px;
  font-weight: 700;
  color: #29b6ab;
}
.total-cost {
  font-size: 22px;
  font-weight: 700;
  border-top: 1px solid #ddd;
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px 10px 0;
  width: 100%;
}
.data-order-side button {
  user-select: none;
  outline: none;
  border: none;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  overflow: visible;
  font-size: 20px;
  width: 80%;
  border-radius: 20px;
  color: #fff;
  background-color: #29b6ab;
  cursor: pointer;
  font-weight: 500;
}
/* End Catalog Page */

/* Start account Page */
section.account {
  padding-top: 190px;
}
.account .content {
  display: flex;
  justify-content: center;
}
.account .content .sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 230px;
  border-radius: 1.25em;
  border: 1px solid #ddd;
  height: 280px;
  margin-left: 50px;
}
.header-title-account {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 0 5px;
  max-width: 650px;
  margin-left: 170px;
}
.info-person {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.info-person i {
  font-size: 20px;
  margin-left: 5px;
}
.account-perant {
  width: 100%;
  text-align: -webkit-right;
}
.account-perant .mony .header-title-account-mony {
  margin: 20px 0 5px;
}
.table-mony td {
  text-align: center;
  color: var(--text-color);
  font-weight: 500;
}
.account-perant .content {
  display: flex;
  flex-direction: column;
}
.account-perant .content .card {
  display: flex;
  justify-content: space-around;
}
h2.mony-title {
  margin-right: 7%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0b1725;
}
.box-mony {
  display: flex;
  align-items: center;
}
span.mony-price {
  margin-top: 30px;
  min-width: 150px;
  margin-right: 10%;
  font-size: 3.6rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #29b6ab;
}
span.mony-text {
  margin-right: 5%;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #0b1725;
}
.table-mony {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #eff0f4;
}
.account-perant .content .card .box {
  min-width: 40%;
  height: 262px;
  margin: 0 0 0 15px;
  border-radius: 6px;
  box-shadow: 0 5px 4px #00000038;
  direction: rtl;
  background-color: rgb(221 221 221 / 10%);
}

.account-perant form {
  width: 600px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.account-perant form .form-group {
  margin-bottom: 1rem;
  width: 45%;
  text-align: end;
}
.account-perant form .form-group label {
  font-size: 18px;
  padding-bottom: 10px;
  display: block;
  color: #0b1725;
  opacity: 0.7;
  font-weight: 600;
  direction: rtl;
  text-align: right;
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.account-perant form .form-group input {
  outline: none;
  border-radius: 3px;
  border: solid 1px #aaa;
  width: 100%;
  margin-right: 10px;
  padding: 0 5px;
  height: 35px;
}
button.edit-informaition {
  border: none;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
/* End account Page */

/* Start Mega Menu */
#mega {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 250px;
  height: 320px;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  z-index: 10;
  display: none;
  padding: 20px;
}
#mega.active {
  display: block;
}
#mega li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  text-align: end;
  transition: var(--transition);
  border-radius: 10px;
}
#mega li:last-child {
  border: none;
}
#mega li:hover {
  background-color: #29b6ab30;
  letter-spacing: 1px;
}
#mega li:last-child {
  letter-spacing: 0;
}
#mega li a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
#mega li a i {
  font-size: 18px;
  margin-left: 5px;
  transition: var(--transition);
  color: var(--main-color);
}
#mega li:hover a {
  color: #2e2d2d;
}
#mega li:hover a i {
  margin-right: 7px;
  color: var(--main-color-alt);
}
/* Start Mega Menu */

/* Start Burger Menu */
#burger {
  display: none;
  margin-left: 25px;
  transform-origin: 0 0;
  cursor: pointer;
}
#burger span {
  display: block;
  background-color: var(--main-color);
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 6px;
}

#burger.is-active span:nth-child(1) {
  transform: translate(1px, 10px) rotate(45deg);
}
#burger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
#burger.is-active span:nth-child(3) {
  transform: translate(0px, -5px) rotate(-45deg);
}
#burger.is-active span {
  background-color: #ff274b;
}
header .container .ul-perant.active {
  display: block;
  position: fixed;
  top: 100px;
  right: 10px;
  background-color: #f5f5f5;
  width: 260px;
  height: 60vh;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 1px 15px 0 rgb(0 0 0 / 37%);
}
.ul-perant.active li {
  padding: 5px 0;
}
.ul-perant.active li a {
  font-size: 25px;
}
.ul-perant.active li:hover {
  background-color: rgb(204 204 204 / 30%);
  color: var(--main-color);
}
/* End Burger Menu */

/* Start Media Queries */
@media (max-width: 1000px) {
  .person .content {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .person .content .person-page {
    margin: 20px auto;
    width: fit-content;
  }
  .person .content .sidebar {
    display: none;
  }
  .content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-cards-perant {
    flex-direction: column;
    align-items: flex-end;
  }
  .card-4 {
    width: 100%;
  }
  .man .categories-sidebar {
    width: 250px;
  }
  .man .content-cards-perant .card-content {
    margin: 10px auto;
  }
  .swiper {
    width: 900px;
  }
  .products-tpgar {
    display: none;
  }
  .icon-user li form input {
    width: 260px;
  }
  .icon {
    font-size: 23px;
  }
  .user-account span p {
    font-size: 15px;
  }
  .icon-user li a i {
    font-size: 20px;
  }
}
@media (max-width: 930px) {
  .swiper {
    width: 800px;
  }
  .card-content {
    width: 200px;
  }
  .btn {
    height: 36px;
    margin: 10px 0;
  }
  .btn span {
    font-size: 14px;
  }
  .btn i {
    margin-left: 0px;
    font-size: 14px;
  }
  .account .content {
    flex-direction: column-reverse;
    align-items: end;
  }
  .account-perant .content .card {
    flex-direction: column;
    align-items: self-start;
  }
  .account-perant .content .card .box {
    max-width: 70%;
    margin-bottom: 30px;
    width: 360px;
  }
  .swiper {
    width: 870px;
  }
}

@media (max-width: 830px) {
  .swiper {
    width: 800px;
  }
  .custom .content .card-main {
    width: 95%;
  }
  header .app {
    display: none;
  }
}

@media (max-width: 767px) {
  header nav .ul-perant {
    display: none;
  }
  #burger {
    display: block;
  }
  header .active {
    display: none;
  }

  .icon-user li form {
    display: none;
  }
  .ul-peranr-and-user-welcome .form_2 {
    display: block;
  }
  .swiper.Nav {
    width: 600px;
  }
  .swiper {
    width: 620px;
  }
  /* .card-content {
    width: 197px;
    height: 390px;
  } */
  .product-title {
    font-size: 14px;
  }
  .product-profit div {
    font-size: 18px;
  }
  .price-text {
    margin-right: 5px;
  }
  .only-price {
    font-size: 20px;
  }
  .product-add i:first-child {
    font-size: 23px;
    margin-right: 5px;
  }
  .order-filters-page {
    width: 100%;
  }
  .mat-form-field-wrapper input {
    width: 80%;
  }
  .order-action ul {
    flex-direction: column-reverse;
    align-items: center;
  }
  .order-total-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .order-total-info div {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .order-number {
    margin: 10px 0;
  }
  .order-action ul li {
    justify-content: center;
    height: 35px;
    font-size: 19px;
    width: 135px;
    margin: 10px 5px;
    padding: 5px;
  }
  .order-action ul li a {
    font-size: 17px;
  }
  .person-order-info {
    width: 100%;
    height: auto;
  }
  .person-info-data {
    width: 100%;
    height: auto;
  }
  .person-name {
    margin: 10px 0;
  }
  .product-info-name {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .personal-data {
    flex-direction: column;
    font-size: 16px;
    align-items: flex-end;
  }
  .product-info-name .img {
    width: 150px;
    height: 150px;
  }
  .bg .custom {
    width: 100%;
  }
  .custom .content .log-title {
    font-size: 27px;
  }
  .custom .content .card-main {
    width: 95%;
  }
  .card-content-2 form .btn-register {
    width: 70%;
    margin-right: 14%;
  }
  .foot-div-1 {
    width: 82%;
  }
  .catalog-section-header {
    justify-content: end;
  }
  .product-actions-catalog {
    height: 20px;
    flex-direction: row;
  }
  .catalog table {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .catalog table thead {
    display: flex;
  }
  .catalog table tr {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .catalog table thead tr th {
    width: 100px;
    font-size: 15px;
    border: none;
    text-align: end;
  }
  .catalog table thead tr .th-price {
    margin-top: 100px;
  }
  .catalog table thead tr:last-child {
    margin-bottom: 50px;
  }
  .catalog table td {
    border: none;
  }
  .catalog table tbody {
    display: flex;
  }
  .img-and-name-catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .name-and-category {
    max-width: 170px;
    margin-bottom: 10px;
  }
  .name-and-category p {
    text-align: start;
  }
  a.page-link {
    height: 37px;
    width: 37px;
    margin-right: 10px;
  }
  .order-action {
    margin: 0px auto;
  }
  .swiper {
    width: 650px;
  }
  .ul-peranr-and-user-welcome .form_2 button i {
    font-size: 15px;
  }
  #mega {
    top: 98px;
  }
  .sidebar-2 {
    top: 98px;
  }
  .swiper-button-next {
    right: 0;
    display: none !important;
  }
  .swiper-button-prev {
    left: 0;
    display: none !important;
  }
}

@media (max-width: 650px) {
  .swiper {
    width: 600px;
  }
  .card-content {
    width: 220px;
    height: 400px;
  }
  .account-perant form {
    width: 100%;
  }
  .table-mony table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .table-mony table tr {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .table-mony table tr,
  .table-mony table td,
  .table-mony table th {
    border: none;
  }
  .table-mony {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #eff0f4;
  }
  .order-filters-search_2 {
    flex-direction: column;
  }
  .order-filters-search_3 {
    flex-direction: column;
  }
  .mat-form-field-wrapper {
    width: 100%;
  }
  .order-filters-page {
    height: 290px;
  }
}
@media (max-width: 600px) {
  .icon {
    font-size: 17px;
  }
  .swiper {
    width: 550px;
  }
  .card-content {
    /* width: 210px;
    height: 400px; */
  }
  .select-info-order {
  }
  .select-info-order-check {
    margin-left: 10px;
  }
  .select-info-order label {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .icon {
    font-size: 20px;
  }
  .icon-user li {
    font-size: 12px;
  }
  .icon-user li a i {
    font-size: 18px;
    margin-right: 0px;
  }
  button.user-account {
    padding: 8px 4px 0;
  }
  .user-account span {
    font-size: 15px;
  }
  .user-account span p {
    font-size: 13px;
  }
  .swiper {
    width: 450px;
  }
  .card-content {
    /* width: 190px;
    height: 400px; */
  }
  .account-perant form {
    width: 100%;
  }
  .box-mony {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .icon {
    font-size: 17px;
    margin: 10px 0;
  }
  .icon-user li {
    font-size: 12px;
  }
  .icon-user li a i {
    font-size: 18px;
    margin-right: 0px;
  }
  button.user-account {
    padding: 8px 4px 0;
  }
  .user-account span {
    font-size: 15px;
  }
  .user-account span p {
    font-size: 13px;
  }
  section.navigation-swiper {
    padding-top: 160px;
  }
  #mega {
    right: 0px;
    width: 220px;
    height: 320px;
  }
  #mega li a {
    font-size: 18px;
  }
  .sidebar-2 {
    left: 0;
  }
  .account-perant form .form-group {
    width: 100%;
  }
  .account-perant form .form-group input {
    width: 100%;
  }
  .colors button {
    min-width: 20px;
    height: 23px;
  }
  .action-button {
    font-size: 12px;
    padding: 0 8px;
  }
  .swiper {
    width: 400px;
  }
}

@media (max-width: 430px) {
  header .app {
    height: 40px;
  }
  header .app p {
    font-size: 16px;
    margin: 0 20px;
  }
  header .app a img {
    width: 80px;
    height: 30px;
  }
  header nav .ul-perant {
    display: none;
  }
  .icon {
    font-size: 19px;
    margin: 10px 0;
  }
  .icon-user li {
    font-size: 10px;
  }
  .icon-user li a i {
    font-size: 14px;
    margin-right: 0px;
  }
  button.user-account {
    padding: 8px 4px 0;
  }
  .user-account span {
    font-size: 10px;
  }
  .user-account span p {
    font-size: 10px;
  }
  #burger {
    display: block;
  }
  .ul-perant.active li a {
    font-size: 20px;
  }
  section {
    padding-top: 40px;
  }
  .swiper.Nav {
    width: 270px;
  }
  .swiper {
    width: 380px;
    width: 95%;
  }
  .category {
    font-size: 14px;
  }
  .view-all {
    font-size: 14px;
  }
  .card-content {
    width: 140px;
    height: 300px;
  }
  .product-title {
    font-size: 12px;
    margin: 5px 5px 10px;
  }
  .product-profit div {
    font-size: 13px;
  }
  .price-text {
    margin-right: 0px;
    line-height: 2.48;
    font-size: 9px;
  }
  .only-price {
    font-size: 15px;
    line-height: 1.48;
  }
  .product-profit div span {
    font-size: 11px;
  }
  .product-add i:first-child {
    font-size: 23px;
    margin-right: 5px;
  }
  .product-add #hert {
    font-size: 18px;
    margin-right: 5px;
  }
  .btn {
    height: 40px;
    margin: 10px 0;
    padding: 0px 0px;
    height: 30px;
  }
  .btn span {
    font-size: 10px;
  }
  .btn i {
    margin-left: 0px;
    font-size: 10px;
  }
  footer .container .content .text p {
    max-width: 100%;
  }
  footer .container .content .social-box ul li a img {
    width: 36px;
    height: 36px;
  }
  footer .container .content .social-box .contact {
    font-size: 16px;
  }
  footer .container .content .social-box h3 {
    font-size: 18px;
  }
  footer .container .content .social-box .contact h3 {
    margin: 10px 0 0;
    font-size: 18px;
  }
  footer .container .copyrigth {
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
  }
  .box-mony {
    flex-direction: column;
    text-align: center;
  }
  button.user-account {
    height: 30px;
  }
}

@media (max-width: 370px) {
  .icon {
    font-size: 17px;
    margin: 10px 0;
    font-weight: 900;
  }
  .icon-user li {
    font-size: 10px;
  }
  .icon-user li a i {
    font-size: 12px;
    margin-right: 0px;
  }
  button.user-account {
    padding: 5px 3px 0;
  }
  .user-account span {
    font-size: 8px;
  }
  .user-account span p {
    font-size: 8px;
  }
  .colors button {
    min-width: 15px;
    height: 18px;
    margin-left: 3px;
  }
  .swiper {
    width: 320px;
    width: 95%;
  }
}
@media (max-width: 340px) {
  .select-info-order-check {
    margin-left: 4px;
  }
  input[type="radio"] {
    width: 13px;
    height: 13px;
  }
  .select-info-order label {
    font-size: 10px;
  }
  footer .container .copyrigth {
    font-size: 14px;
  }
  footer .container .content .social-box h3 {
    font-size: 16px;
  }
  footer .container .content .social-box .contact h3 {
    font-size: 15px;
  }
  .swiper {
    width: 270px;
    width: 95%;
  }
  .select-info-order-check.color {
    height: 13px;
  }
}
@media (max-width: 335px) {
  .icon {
    font-size: 12px;
  }
}
/* End Media Queries */
